
@use "../../../Assets/Colors/Colors.scss" as s;
*{
margin: 0;
padding: 0;
.container{
  width: 100%;
  
.bar {
  ul {
    
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
 
    li {
      margin: 0;
      padding: 10px ;
      color: s.$black;
      cursor: pointer;
      &:hover {
        color: s.$red;
      }
    }
  }
}


.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    }
           
}
}
@media screen and (max-width: 768px) {
  .cards {
    flex-direction: column;
    }
    .bar ul {
      flex-direction: column;
    }
  }
 