.reservation-form {
     max-width: 600px;
     margin: 0 auto;
     padding: 20px;
   
     h2 {
       font-size: 24px;
       margin-bottom: 10px;
     }
   
     p {
       font-size: 16px;
       margin-bottom: 20px;
       margin-left: 9.3em;
     }

.form-group {
     margin-bottom: 15px;
   
     label {
        display: block;
        font-size: 16px;
        margin-bottom: 5px;
     }
   
     select,
     input {
         width: 150%;
         padding: 10px;
        
         border-radius: 5px;
         font-size: 16px;

     button {
         padding: 10px 10px;
         color: white;
     
         border-radius: 5px;
         font-size: 13px;
         cursor: pointer;
       }
     }
   }
}
.group-værelse {
     margin-bottom: 15px;
   
     
     select,
     input {
         
          width: 60%;
          padding: 10px;
          border-radius: 5px;
          font-size: 13px;
          }
}
.group-personer {
     margin-bottom: 15px;
    
     
     select,
     input {
     //    margin-left: 220px;
     //    margin-top: -12px;
        width: 50%;
        padding: 10px;
        border-radius: 5px;
        font-size: 13px;
     }
}
.form-date {
     margin-bottom: 15px;
    
     
     select,
     input {
        width: 100%;
        padding: 5px;
        border-radius: 3px;
     }

}
.mini-form {
     margin-bottom: 3px;
     width: 140%;
     padding: 10px;
     border-radius: 5px;
     font-size: 13px;

     

}


   
