@use "../../Assets/Colors/Colors.scss" as s;
.reservation-form {
     max-width: 600px;
     height: 700px;
     margin: auto;
     padding: 20px;
   
     h2 {
       font-size: 19px;
       margin-bottom: 6px;
       margin-top: 1px;
       font-family: "Open-sans", sans-serif;
     }
   
     p {
       font-size: 14px;
       margin-bottom: 10px;
       margin-left: 11em;
       padding-top: 10px;
       font-family: "Open-sans", sans-serif;
     }

.form-group {
     margin-bottom: 13px;
   
     label {
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
     }
   
     select,
     input {
         width: 100%;
         padding: 10px;
        
         border-radius: 5px;
         font-size: 14px;

     
       }
     }
  

.group-værelse {
     margin-bottom: 15px;
   
     
     select,
     input {
         
          width: 60%;
          padding: 10px;
          border-radius: 5px;
          font-size: 14px;
          }
}
h4 {
     margin-bottom: 0.1em;
     margin-top: 0.1em;

}
.group-personer {
     margin-bottom: 15px;
    
     select,
     input {
        width: 50%;
        padding: 10px;
        border-radius: 5px;
        font-size: 14px;
     }
}
.form-date {
     margin-bottom: 15px;
    
     select,
     input {
        width: 100%;
        padding: 5px;
        border-radius: 3px;
     }

}
.mini-form {
     margin-bottom: 1px;
     select,
     input {
        width: 94%;
        padding: 10px;
        border-radius: 5px;
        font-size: 14px;
}
}
.mini-info {
     margin-bottom: 16px;
    

     select,
     input {
        padding: 6px;
        border-radius: 3px;
     }
}
textarea {
     margin-top: 0.1px;
}
.kryds{
     font-size: 14px;
     margin-bottom: 12px;
     margin-top: 10px;
     margin-left: 0rem;
    
}
.form-button {
     display: flex;
     gap: 0.8em; 
     
   button {
     font-size: 14px;
     font-family: "Open-sans", sans-serif;
     width: 100%;
     padding: 10px;
     border-radius: 3px;
     background-color: s.$red;
     color: s.$white;
     font-weight: 100;
     
     
    
       }
    
    
    
}

}  
