@use "../../../Assets//Colors/Colors.scss" as s;
*{
  padding: 0;
  margin: 0;
}
.collected-Nav {
     background-color: s.$black;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     width: 100%;
     padding: 0.2rem 0rem;
   
     
    header {
      display: flex;  
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      font-weight: 100;
      font-family: "Open-sans", sans-serif;
}
img {
  width: 20%;
}
    nav {
      display: flex;
      padding-top: 16px;
      font-size: 1.3em;
      font-weight: 100;
      font-family: "Open-sans", sans-serif;
      justify-content: flex-start;
     
      
.Links {
  text-decoration: none;
  list-style-type: none;
  margin-right: 13px;
  padding: 5px;
  transition: color 0.2s ease-in-out;
        
   
li.header__menu {
  color: s.$white;
  cursor: pointer;
  
   
&:hover {
  color: s.$red;
}
   
&.active {
  font-weight: bold;
  color: s.$black;
        }
      }
    }
   }
  }
 

@media screen and (max-width: 768px) {

   }
