@use "../../Assets/Colors/Colors.scss" as s;
.news-card {
     background-color: s.$white;
     border: 1px solid s.$lightgrey;
     border-radius: 5px;
     padding: 15px;
     max-width: 250px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
     img {
       max-width: 100%;
       height: auto;
     }
   
     h3 {
      margin-top: 10px;
      font-size: 1.2rem;
      color: s.$red;
      text-decoration: none;
     
     }
    
  
   }
   