.carousel-container {
     max-width: 800px;
     margin: 0 auto;
   }
   
   .carousel-item {
     background-color: #ddd;
     text-align: center;
     padding: 50px 0;
     font-size: 24px;
   }
   