@use "../../Assets/Colors/Colors.scss" as s;
.news-card {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
.card {
  border: 1px solids s.$lightgrey;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  img {
    width: 50%;
        
      }
  
 
    }
    
  }
 
  img {
    width: 100%; 
  }
 .img-card {
    background-color: s.$white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    max-width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  @media screen and (max-width: 768px) {
    .news-card {
      flex-direction: column;
  
    .img-card {
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          padding: 1rem;
        }
      }
    }
  
  
     
     
 
 




      
      