@use "../../Assets/Colors/Colors.scss" as s;
*{
    margin: 0;
    padding: 0;

.Card-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
}
   

//new scc
.commen {
position: relative;
overflow: hidden;
margin: 10px;
min-width: 230px;
max-width: 315px;
width: 100%;
color: #141414;
text-align: left;
line-height: 1.4em;
font-size: 16px;
}
.commen * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.commen img {
  max-width: 100%;
  vertical-align: top;
}
.commen figcaption {
  position: absolute;
  top: calc(77%);
  width: 100%;
  background-color: #ffffff;
  padding: 15px 25px 65px;
}
.commen figcaption:before {
  position: absolute;
  content: '';
  z-index: 2;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}
.commen h3,
.commen p {
  margin: 0 0 10px;
}
.commen h3 {
  font-weight: 300;
  font-size: 1.4em;
  line-height: 1.2em;
  font-family: 'Oswald', Arial, sans-serif;
  text-transform: uppercase;
}
.commen p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}
.commen a {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

 
}
.commen:hover figcaption,
.commen.hover figcaption {
  top: 80px;
}

h4{
  color: s.$grey;
  

  &:hover {
    color: s.$red;
  }
}
}


// For screen larger than 600 pixels
  @media screen and (max-width: 768px) {
      .Card-container { grid-template-columns: repeat(2, 1fr); }
      .Card-container {
          flex-direction: column;
          align-items: center;
          
        }
      }
// For screen larger than 900 pixels
  @media (min-width: 900px) {
        .Card-container { grid-template-columns: repeat(3, 1fr);}
        .Card-container {
            align-items: center;
            justify-content: center;
            justify-items: center;
      }
      }
    
  
  
     
     
 
 




      
      